@import ../App/app

.users__title
  margin: 0 0 1.5rem 0

.users__ul
  display: flex
  flex-direction: column
  width: 100%
  justify-content: flex-start
  list-style: none
  max-height: 1200px
  overflow: auto

.users__box
  display: flex
  flex-direction: row

.users__li
  padding: $padding
  word-break: break-all
  display: flex
  align-items: center
  transition: all ease 0.2s
  margin: 0 1rem 1rem 0
  background-color: $backgroundComponentsColor
  border-radius: $borderRadius

.users__data__ul
  list-style: none

.users__data__li
  margin: 0 0 0.5rem 0

@media screen and ( max-width: 765px )
  .users__container
    margin: 1rem

@media screen and ( max-width: 500px )
  .users__li
    flex-direction: column
    align-items: center

@media screen and ( max-width: 450px )
  .users__box
    flex-direction: column-reverse
