.change__form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .3rem;
}

.change__container {
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
}

.change__title {
  margin: 0 0 1.5rem 0;
}
