.users__title {
  margin: 0 0 1.5rem 0;
}

.users__ul {
  list-style: none;
  background-color: #fff;
  border-radius: .3rem;
  width: fit-content;
}

.users__li {
  padding: 1rem;
  width: fit-content;
  word-break: break-all;
  border-radius: 0.5rem;
  display: inline-block;
}