.users__title {
  margin: 0 0 1.5rem 0;
}

.users__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: fit-content;
}

.users__li {
  padding: 1rem;
  width: fit-content;
  word-break: break-all;
  border-radius: 0.5rem;
  display: inline-block;
  transition: all ease 0.2s;
  margin: 0 1rem 1rem 0;
  background-color: #fff;
  border-radius: 0.3rem;
}

.users__data__ul {
  list-style: none;
}

.users__data__li {
  margin: 0 0 0.5rem 0;
}
