.board__container {
  display: flex;
  flex-direction: column;
}

.board__title {
  margin: 0 0 1.5rem 0;
}

.board__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board__post {
  background-color: #fff;
  word-break: break-all;
  padding: 1rem;
  margin: 0rem 1rem 1rem 0;
  border-radius: .3rem;
  height: fit-content; 
}

.board__author {
  margin: 0 1rem .3rem 0;
}

.board__text {
  margin: 0 0 2rem 0;
}

.board__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 .2rem 0;
}

.board__time {
  font-size: 16px;
  font-weight: 500;
}

.no__posts {
  padding: 1rem;
  background-color: #fff;
  border-radius: .3rem;
}

.comment__create__form {
  display: flex;
  align-items: center;
}