* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  text-align: center;
}

.div {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0 5px;
}

.main__box {
  display: flex;
  flex-direction: column;
}

.main__box__container {
  width: 1100px;
  margin: 1rem auto;
}
