* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  text-align: center;
}

.div {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0 5px;
}

.main__box {
  display: flex;
  flex-direction: column;
}

.main__box__container {
  width: 1100px;
  margin: 1rem auto;
}

.users__ul {
  list-style: none;
}

.users__li {
  padding: 0.5rem;
  margin: 0.8rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px #3d3d3d;
}
