.change__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.2rem;
}

.change__container {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
}

.change__title {
  margin: 0 0 1.5rem 0;
}
