.header {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #1976D2;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.li {
  display: inline-block;
  margin-right: 1rem;
}