.nav__ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__li {
  margin-right: 1rem;
  transition: all ease 0.2s;
}

.nav__li:hover {
  color: #bf4444;
}
