.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem 0 0 0;
  word-break: normal;
}

.title__title {
  margin: 0 0 .5rem 0;
}

.title__text {
  font-weight: 500;
  font-size: 18px;
}