.profile__container {
  display: flex;
  flex-direction: row;
}

.profile__first__column {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 0 0;
  width: 330px;
}

.profile__second__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__avatar {
  border-radius: 0.3rem;
  width: 250px;
  height: 250px;
  padding: 1rem;
  background-color: #fff;
  margin: 0 0 1.5rem 0;
}

.profile__info {
  border-radius: 0.3rem;
  list-style: none;
  background-color: #fff;
  word-break: break-word;
}

.profile__info__list {
  padding: .5rem;
  font-weight: 500;
  transition: all ease .2s;
  cursor: default;
  border-bottom: 2px solid #edeef0;
}

.profile__info__list:hover {
  padding: .5rem;
  font-weight: 500;
  color: #534ED9;
  background-color: #edeef0;
}

.profile__name {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.profile__board {
  border-radius: 0.3rem;
  margin: 0 0 1.5rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  padding: 1rem;
  background-color: #fff;
}

.profile__board__list {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.profile__about {
  padding: 1rem;
  width: fit-content;
  word-break: break-all;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  border-radius: 0.3rem;
  background-color: #fff;
  white-space: break-spaces;
}
