.admin__registration__box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: .3rem;
  height: fit-content;
  width: 400px;
  padding: 1rem;
}

.admin__registration__title {
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.admin__registration__form {
  display: flex;
  flex-direction: column;
}

.admin__success {
  text-align: center;
  font-size: 20px;
  color: #228B22;
}