.settings__container {
  display: flex;
  flex-direction: column;
}

.settings__title {
  margin: 0 0 1.5rem 0;
}

.settings__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings__paragraph {
  text-align: center;
}
