.userPosts__container {
  display: flex;
  flex-direction: column;
}

.userPosts__post {
  background-color: #fff;
  word-break: break-all;
  padding: 1rem;
  margin: 1rem 0 0.5rem 0;
  border-radius: 0.3rem;
}

.post__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0.3rem 0;
}

.post__time {
  font-size: 16px;
  font-weight: 500;
}

.post__author {
  margin: 0 0 0.3rem 0;
}

.post__text {
  margin: 0 0 2rem 0;
}

.post__functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.posts__create {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
  margin: 0 0 1.5rem 0;
}

.posts__create__inputs {
  display: flex;
  flex-direction: column;
}

.posts__create__btn {
  display: flex;
  flex-direction: column;
}
.file__preview {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.post__hr {
  margin: 1rem 0;
  border: 1px solid #edeef0;
  border-radius: 1rem;
}

.post__comment {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #edeef0;
  transition: all ease 0.2s;
}

.post__comment:hover {
  background-color: #edeef0;
  border-radius: .3rem;
}

.post__comment__create {
  max-height: 700px;
  overflow: auto;
}

.comment__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0.2rem 0;
}

.comment__time {
  font-size: 14px;
  font-weight: 500;
}

.comment__author {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.post__comment__container {
  display: none;
}

.post__edit {
  display: none;
  align-items: center;
}

.edit {
  display: flex;
}

.open {
  display: block;
}
