.messenger__container {
  display: flex;
  flex-direction: column;
}

.messenger__title {
  margin: 0 0 1.5rem 0;
}

.messenger__box {
  display: flex;
  flex-direction: row;
}

.messenger__conversations {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: .3rem;
}

.messenger__chat__column {
  background-color: #fff;
  border-radius: .3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #edeef0;
}

.messenger__chat {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 600px;
  overflow: auto;
  width: 580px;
}

.messenger__chat__empty {
  text-align: center;
}

.messenger__private {
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
}

.messenger__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  background-color: none;
  border: 1px solid #edeef0;
}
