.friends__list {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  list-style: none;
  max-height: 1200px;
  overflow: auto;
}

.friends__item {
  padding: 1rem;
  word-break: break-all;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  margin: 0 1rem 1rem 0;
  background-color: #fff;
  border-radius: 0.3rem;
}

.friends__item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}