.header {
  font-size: 1.1rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  font-weight: 500;
  box-shadow: 0px 0px 10px rgb(128, 128, 128);
}

.header__main {
  width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  background-color: transparent;
}

.nonAuth {
  justify-content: space-between;
}

.header a {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  transition: all ease .2s;
}

.header a:hover {
  background-color: #edeef0;
}

.header__title {
  font-size: 22px;
}

.header__title a {
  font-size: 22px;
  margin: 0;
}

.header__title:hover a {
  color: #000;
  background-color: transparent;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__signBtns {
  display: flex;
  transition: all ease .2s;
}

.header__signBtns a {
  padding: 0 .4rem;
}
