.nav__ul {
  list-style: none;
  display: flex;
  width: 164px;
  background-color: #fff;
  border-radius: .3rem;
  flex-direction: column;
  margin: 0 2rem 0 0;
}

.nav__li {
  margin: 0 0 .5rem 0;
  padding: .5rem;
  transition: all ease 0.2s;
  font-weight: 500;
}

.nav__li:hover {
  color: #534ED9;
  background-color: #edeef0;
}
