.nav__ul {
  list-style: none;
  display: flex;
  width: 164px;
  flex-direction: column;
}

.nav__li {
  margin: 0 0 1rem 0;
  transition: all ease 0.2s;
  width: fit-content;
}

.nav__li:hover {
  color: #bf4444;
  text-decoration: underline;
}
